@model List<Blog.ViewModels.PostVM>;
@{
    ViewData["Title"] = "Posts";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Create" asp-controller="Post" asp-area="Admin">Add Post</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">List of Posts</h4>
        </div>
        <div class="card-body" style="background-color:lightgray;">
            <div class="rounded" style="border: 4px solid black">
                @foreach(var post in Model)
                {
                    <h4 style="font-size:1.5rem; font-weight:bolder;" class="text-primary fw-bold">@post.Title</h4>
                }
            </div>
        </div>
        
    </div>
</div>